body {
  background: linear-gradient(45deg, #ccc, #444);
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 50px; 
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(225, 225, 225, 0.5);
  font-size: 3rem;
  opacity: 0.7;
}

.avatarsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 3em;
  border-radius: 36px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.4);
  text-align: center;
}
/*.custom {
  display: flex;
  margin-bottom: 15px;
  background-image: url(https://cdn.pfps.gg/banners/1648-goku-aesthetic.gif);
  background-position: center; 
  background-size: 105%;
  background-repeat: no-repeat;
  border-radius: 36px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.4);
  padding: 70px;
  justify-content: center;
  text-align: center; 
}
.custom #image {
  display: none;
}
.custom h {
  font-weight: bold;
  font-size: 1.7rem;
  border: none;
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.9);
}
*/
.avatarsList img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  cursor: auto;
  border: 1px solid white;
  box-shadow: 5px 5px 15px 5px rgba(255,255,255, 0.5);
  box-sizing: border-box;
  transform: scale(1.2);
}
.avatarsList img:active {
  animation: zoomOut 0.2s;
}
@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.6);
  }
}
>>>>>>> fc66a022544bf019289d8f74bf4689d0e6012e97
