@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@keyframes slideInFromLeft {from {transform: translateX(-100%);} to {transform: translateX(0);}}
@keyframes slideOutToRight {from {transform: translateX(0);} to {transform: translateX(100%);}}
@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeOut {from {opacity: 1;} to {opacity: 0;}}
html {
  background: black;
}
body {
  background: black;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.chatc {
  position: relative;
  background: whitesmoke;
  overflow-y: auto;
  width: 100vw;
  flex: 1;
  box-sizing: border-box;
}
.chatc header {
  background: #000;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.chatc header h2 {
  font-style: italic;
  color: whitesmoke;
  font-size: 2.4rem;
}
.chatbox {
  background: black;
  box-sizing: border-box;
  overflow-y: auto;
  min-height: calc(100%);
  word-wrap: break-word;
  padding: 15px 20px 70px;
}
.chatbox .texts {
  color: white;
}
.wrapper {
  display: flex; 
  gap: 5px;
  width: 100%;
  background: #000;
  padding: 3px 20px;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
}
.wrapper textarea {
  background: #000;
  color: white;
  height: 55px;
  width: calc(100% - 40px);
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.wrapper span {
  align-self: flex-end;
  color: whitesmoke;
  cursor: auto;
  user-select: none;
  height: 55px;
  display: flex;
  visibility: hidden;
  align-items: center;
  font-size: 2.35rem;
}
.wrapper textarea:valid ~ span {
  visibility: visible;
  animation: slideInFromLeft 0.5s, fadeIn 0.5s;
}

.rText {
}

.rMessage {
  display: flex;
  align-items: flex-start;
}

.rAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: flex-start;
  margin-bottom: 20px;
  transform: translate(-10px, 3px);
}

.rUsername {
  font-weight: 20;
  color: white;
  align-self: flex-end;
}

.rMessageText {
  color: #dcddde;
  margin: 0;
}

.rMessageContent {
  animation: slideOutToRight 0.5s, fadeIn 0.5s;
  padding: -2px;
}